{% extends basicSite %}

{# Disable Main Navigation#}
{% block navigation_main %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="main_middle">
        <div class="welcome">Willkommen</div>
        <div class="changelogs">
            <br><br>
            Aktuelle Changelogs:<br><br>
            {{ changelog }}
        </div>
    </div>
{% endblock %}

{% block javascript_intern %}
    {{ parent() }}
    <script type="text/javascript" src="{{prefix}}/tgsoft/modules/main/assets/main.js"></script>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{prefix}}/tgsoft/modules/main/assets/main.css">
{% endblock %}