{% extends '/tgsoft/basic/backend/basic.twig' %}

{% block navigation_main %}{{ parent() }}{% endblock %}

{% block content %}
    <div id="details">
        <table id="tbl_details_role">
            <tr>
                <td>ID:</td>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{ role.name }}</td>
            </tr>
            <tr>
                <td>Active:</td>
                <td>{{ role.active }}</td>
            </tr>
            <tr>
                <td>Roles:</td>

            </tr>
        </table>
    </div>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <!--<link rel="stylesheet" type="text/css" href="/tgsoft/modules/accounts/assets/details.css">-->
{% endblock %}

{% block javascript_intern %}
    {{ parent() }}
    <!--<script type="text/javascript" src="/tgsoft/modules/accounts/assets/details.js"></script>-->
{% endblock %}