{% extends basicSite %}

{% block navigation_main %}{{ parent() }}{% endblock %}

{% block content %}

    <div id="account_change_header">
        {% if account.id > 0 %}Ändern eines vorhandenen Benutzers
        {% else %}Anlage eines neuen Benutzers
        {% endif %}
    </div>

    <form method="post" action="">
        <div id="details">
            <table id="tbl_account">
                <tr>
                    <td class="details_col1">ID:</td>
                    <td class="details_col2">{{ account.id }}</td>
                    <td class="details_col3">Interne ID zur eindeutigen Erkennung</td>
                </tr>
                <tr>
                    <td class="details_col1"><label for="txt_username">Username:</label></td>
                    <td class="details_col2"><input type="text" value="{{ account.userName }}" id="txt_username" name="txt_username" class="default_style1"></td>
                    <td class="details_col3">Benutzername für Login</td>
                </tr>
                <tr>
                    <td class="details_col1"><label for="txt_password">Vorl. Kennwort:</label></td>
                    <td class="details_col2"><input type="password" id="txt_password" name="txt_password" class="default_style1"></td>
                    <td class="details_col3">Vorläufiges Kennwort ( Leer lassen = Keine Änderung! )</td>
                </tr>
                <tr>
                    <td class="details_col1"><label for="sel_role">RoleType:</label></td>
                    <td class="details_col2">
                        <select name="sel_role" id="sel_role" class="default_style1">
                            {% for role in roles %}
                                <option value="{{ role.name }}" {% if role.name | lower == account.roleType %}selected{% endif %}>{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="details_col3">Rolle für Rechteverwaltung</td>
                </tr>
                <tr>
                    <td class="details_col1"><label for="chk_active">Active:</label></td>
                    <td class="details_col2"><input type="checkbox" id="chk_active" name="chk_active" class="default_style1" {% if account.active == true %}checked{% endif %}></td>
                    <td class="details_col3">Status des Benutzers</td>
                </tr>
                <tr>
                    <td class="details_col1">&nbsp;</td>
                    <td class="details_col2"><button type="submit" class="default_style1">Speichern</button></td>
                    <td class="details_col3">
                        <a href="/backend/users">
                            <button type="button" class="default_style1">Abbrechen</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/tgsoft/modules/accounts/assets/details.css">
{% endblock %}

{% block javascript_intern %}
    {{ parent() }}
    <script type="text/javascript" src="/tgsoft/modules/accounts/assets/details.js"></script>
{% endblock %}