{% extends '/tgsoft/basic/backend/basic.twig' %}

{% block navigation_main %}{{ parent() }}{% endblock %}

{% block content %}
    {% if ( myModules.TGSoft_Account.add == 1 ) %}<input type="button" class="btnChange" value="New Account" accountId="0">{% endif %}

    <table id="tblAccounts" class="tblsorter">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Active</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
            {% if lstAccounts and lstAccounts.length > 0 %}
                {% for acc in lstAccounts %}
                    <tr>
                        <td>{{ acc.id }}</td>
                        <td>{{ acc.userName }}</td>
                        <td>{{ acc.roleType }}</td>
                        <td>{{ acc.active }}</td>
                        <td>
                            <span class="options">
                                {# Button - Change #}
                                {% if ( myModules.TGSoft_Account.changeAll == 1 or (myModules.TGSoft_Account.changeOwn == 1 and currUser.id == acc.id) ) %}
                                    <input type="button" class="btnChange" value="Change" accountId="{{ acc.id }}">
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/tgsoft/modules/accounts/assets/accounts.css">
{% endblock %}

{% block javascript_intern %}
    {{ parent() }}
    <script type="text/javascript" src="/tgsoft/modules/accounts/assets/account.js"></script>
{% endblock %}