{% extends '/tgsoft/basic/backend/basic.twig' %}

{% block navigation_main %}{{ parent() }}{% endblock %}

{% block content %}
    {% if ( myModules.TGSoft_Account.add == 1 ) %}
        <button class="btnChange default_style1" accountId="0">New Account</button>
    {% endif %}

    <table id="tblAccounts" class="tblsorter tablesorter-blue">
        <thead>
        <tr>
            <th class="col_id">ID</th>
            <th class="col_name">Name</th>
            <th class="col_role">Role</th>
            <th class="col_active">Active</th>
            <th class="col_options">Options</th>
        </tr>
        </thead>
        <tbody>
            {% if lstAccounts and lstAccounts.length > 0 %}
                {% for acc in lstAccounts %}
                    <tr>
                        <td class="col_id">{{ acc.id }}</td>
                        <td class="col_name">{{ acc.userName }}</td>
                        <td class="col_role">{{ acc.roleType }}</td>
                        <td class="col_active">{{ acc.active }}</td>
                        <td class="col_options">
                            <span class="options">
                                {# Button - Change #}
                                {% if ( myModules.TGSoft_Account.changeAll == 1 or (myModules.TGSoft_Account.changeOwn == 1 and currUser.id == acc.id) ) %}
                                    <button class="btnChange default_style1" accountId="{{ acc.id }}">Change</button>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/tgsoft/modules/accounts/assets/accounts.css">
{% endblock %}

{% block javascript_intern %}
    {{ parent() }}
    <script type="text/javascript" src="/tgsoft/modules/accounts/assets/account.js"></script>
{% endblock %}